<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/homer.png" width="60" height="60">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="isLogin()" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="trainings" routerLinkActive="active" class="nav-link">Trainings</a>
      </li>
      <li class="nav-item">
        <a routerLink="calculations" routerLinkActive="active" class="nav-link">Berechnungen</a>
      </li>
      <li class="nav-item">
        <a routerLink="statistics" routerLinkActive="active" class="nav-link">Statistik</a>
      </li>
      <li class="nav-item">
        <div *ngIf="isLogin()">
          <a routerLink="targets" routerLinkActive="active" class="nav-link">Ziele</a>
        </div>
      </li>
      <li class="nav-item">
        <div *ngIf="isLogin()">
          <a routerLink="athlete" routerLinkActive="active" class="nav-link">{{currentUser.firstName}}</a>
        </div>
      </li>
    </ul>
    <div *ngIf="isLogin()" class="mx-5">
      <span class="mr-1">
        <otc-file-upload-modal></otc-file-upload-modal>
      </span>
      <span class="ml-1">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0 mr-5" (click)="logout()">Logout</button>
      </span>
    </div>
  </div>
  <div style="position: fixed;">
    <alert></alert>
  </div>
</nav>
<div class="ml-3 mr-3 mt-1 mb-1">
  <router-outlet></router-outlet>
</div>
