<ng-template #content let-modal>
  <div class="modal-header modal-lg">
    <h4 class="modal-title" id="modal-basic-title">File Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <input type="file" style="display: none" (change)="onFileSelected($event)" #fileinput>
      <div class="row">
        <div class="col mb-3"><button type="button" class="btn btn-outline-success my-2 my-sm-0 mr-5" (click)="fileinput.click()">Pick
            File</button></div>
      </div>
      <div class="row" *ngIf="fSize">
        <div class="col-sm">File Name: </div>
        <div class="col-sm">{{ selectedFile.name }}</div>
      </div>
      <div class="row" *ngIf="fSize">
        <div class="col-sm">File Grösse: </div>
        <div class="col-sm">{{ fSize | fileSize }} [kB]</div>
      </div>
      <div class="row" *ngIf="fileAlreadyExists">
        <div class="col-sm mt-3">File existiert bereits und kann nicht importiert werden</div>
      </div>
    </div>
  </div>
  <div class="error">
    {{ message }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success my-2 my-sm-0 mr-5" (click)="modal.close('Save click')"
      [disabled]="!isValidFile">Upload</button>
  </div>
</ng-template>

<button class="btn btn-outline-success" (click)="open(content)">Upload</button>
